{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>PROJECT-M</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/stylesheet.css' %}">
	<link rel="shortcut icon" href="../Imagenes/Logo.jpg">
</head>
<body>
	<!-- Encabezado de la página Web -->
	<header>
		<h1>Deustotil Tech</h1>
		<div class="">

		</div>
	</header>


	<!-- Aqui irá el cuerpo de la página -->
	{% block content %} {% endblock %}




	<!-- Aqui comienza el pie de página -->
	<footer>

	</footer>

</div>

</body>
</html>

<!-- onclick="window.open('https://twitter.com/?lang=es')"   onclick="window.open('https://www.instagram.com/')" onclick="window.open('https://es-es.facebook.com/')" -->
