{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>PROJECT-M</title>
    <link rel="shortcut icon" href="/static/imagenes/Logo.jpg">
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
</head>
<body>
<!-- Encabezado de la página Web -->
<header>
    <div class="nombre-empresa">
        <a href="{% url 'PaginaPrincipal' %}" class="TituloNombreEmpre"><h1>Deustotil Tech</h1></a>
    </div>

    <div class="logout">
        <div class="logout-interno">
            <img src="/static/imagenes/logout.png">
            <a href="{% url 'index' %}">Log out</a>
        </div>
    </div>

    <nav class="Navegacion">
        <ul class="Menu">
            <li><a>Modificar</a>
                <ul class="SubMenu">
                    <li><a href="{% url 'ModificarClientes' %}">Cliente</a></li>
                    <li><a href="{% url 'ModificarEmpleados' %}">Empleado</a></li>
                    <li><a href="{% url 'ModificarProyectos' %}">Proyecto</a></li>
                    <li><a href="{% url 'ModificarTareas' %}">Tarea</a></li>
                </ul>
            </li>
            <li><a>Nuevo</a>
                <ul class="SubMenu">
                    <li><a href="#" id="Cliente">Cliente</a></li>
                    <li><a href="#" id="Empleado">Empleado</a></li>
                    <li><a href="#" id="Proyecto">Proyecto</a></li>
                    <li><a href="#" id="Tarea">Tarea</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>


<!-- Aqui irá el cuerpo de la página -->
{% block content %} {% endblock %}


<!-- Aqui comienza el pie de página -->
<footer>

    <div class="footer-left">

        <img src="/static/imagenes/LogoEmpresa.png">

        <p class="footer-links">
            <a href="#">Home</a>

            <a href="#">Blog</a>

            <a href="#">Pricing</a>

            <a href="#">About</a>

            <a href="#">Faq</a>

            <a href="#">Contact</a>
        </p>

    </div>


    <div class="footer-center">

        <div>
            <img src="/static/imagenes/alfiler.png">
            <p><span>Pozoa Kalea, s/n</span>01013 Gasteiz, Araba</p>
        </div>

        <div>
            <img src="/static/imagenes/llamada.png">
            <p>945 01 01 10</p>
        </div>

        <div>
            <img src="/static/imagenes/correo.png">
            <p><a href="#">support@project-M.com</a></p>
        </div>

    </div>

    <div class="mapa">
        <h3>Mapa</h3>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d731.0635369239043!2d-2.677746379648076!3d42.867479635958794!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd4fc24a2f4d4c95%3A0x7cded83857c813f4!2sEgibide%20-%20Arriaga!5e0!3m2!1ses!2ses!4v1586621952096!5m2!1ses!2ses"
                width="200" height="200" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                tabindex="0"></iframe>
    </div>

    <div class="footer-right">

        <p class="footer-company-about">
            <span>Sobre la empresa</span>
            Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus
            vehicula sit amet.
        </p>

        <div class="footer-icons">

            <a href="https://es-es.facebook.com/"><img src="/static/imagenes/facebook.png"></a>
            <a href="https://twitter.com/"><img src="/static/imagenes/twitter.png"></a>
            <a href="https://es.linkedin.com/"><img src="/static/imagenes/linkedin.png"></a>
            <a href="https://github.com/"><img src="/static/imagenes/imagen_github.png"></a>

        </div>

    </div>
    <p class="footer-company-name">PROJECT-M © 2020</p>
</footer>


<!------------------------
Aqui comienza los PopUp
------------------------------->

<!-- aqui va el de clientes -->

<div class="overlay" id="overlay_Cliente">
    <div class="pop-up" id="pop-up_Cliente">
        <div class="Alta">
            <form id="Alta_Cliente" action="{% url 'NuevoCliente' %}" method="post">
                {% csrf_token %}
                <a href="#" class="btn-cerrar-popup" id="btn-cerrar-popup_Cliente"><img
                        src="/static/imagenes/cerrar.png"></a>
                <div class="Titulo_Alta">
                    <h1>Alta Cliente</h1>
                </div>
                <fieldset class="fieldset_Alta">
                    <legend><strong>Datos del Cliente</strong></legend>
                    <div class="Registro_Personales">

                        <div class="Cre-Nombre-c">
                            <label for="Nombre_Cliente" class="Nombre">Nombre y Apellido:</label>
                            <div id="Nombre_Cliente-n">
                                <input type="text" name="nombre" id="Nombre_Cliente" required>
                            </div>
                        </div>

                        <div class="Cre-Empresa-c">
                            <label for="Empresa" class="Empresa">Empresa:</label>
                            <div id="Empresa-c">
                                <input type="text" name="Empresa" id="Empresa" required>
                            </div>
                        </div>

                        <div class="Cre-Email-c">
                            <label for="Email_Cliente" class="Email">Email:</label>
                            <div id="Email_Cliente-c">
                                <input type="email" name="Email" id="Email_Cliente" required>
                            </div>
                        </div>

                        <div class="Cre-Loc-c">
                            <label for="Localizacion_Empresa_Cliente" class="Localizacion">Localizacion:</label>
                            <div id="Localizacion_Empresa_Cliente-c">
                                <input type="text" name="Localizacion" id="Localizacion_Empresa_Cliente" required>
                            </div>
                        </div>

                        <div class="Cre-Tel-c">
                            <label for="Telefono_Cliente" class="Telefono">Telefono:</label>
                            <div id="Telefono_Cliente-c">
                                <input type="number" name="Telefono" id="Telefono_Cliente" required>
                            </div>
                        </div>

                        <div class="Cre-Cuenta-c">
                            <label for="Numero_Cuenta_Cliente" class="Numero_Cuenta">Numero Cuenta:</label>
                            <div id="Numero_Cuenta_Cliente-c">
                                <input type="text" name="Numero_Cuenta" id="Numero_Cuenta_Cliente" required>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <button type="submit" class="Guardar" id="Guardar_Cliente">Guardar</button>
            </form>
        </div>

    </div>
</div>

<!-- aqui va el de Empleado -->

<div class="overlay" id="overlay_Empleado">
    <div class="pop-up" id="pop-up_Empleado">
        <div class="Alta">
            <form id="Alta_Empleado" action="{% url 'NuevoEmpleado' %}" method="post">
                {% csrf_token %}
                <a href="#" id="btn-cerrar-popup_Empleado" class="btn-cerrar-popup"><img
                        src="/static/imagenes/cerrar.png"></a>
                <div class="Titulo_Alta">
                    <h1>Alta Empleado</h1>
                </div>
                <fieldset class="fieldset_Alta">
                    <legend><strong>Datos del Empleado</strong></legend>
                    <div class="Registro_Personales">
                        <div class="Registro_Personales">
                            <div>
                                <label for="DNI" class="DNI">DNI:</label>
                                <div id="DNI_Empleado-c">
                                    <input type="text" name="DNI" id="DNI" required>
                                </div>
                            </div>

                            <div class="Mod-Empresa-empleado-f">
                                <label for="Nombre-empresa" class="Nombre">Nombre:</label>
                                <div id="Empresa-empleado-c">
                                    <input type="text" name="nombre" id="Nombre-empresa" required>
                                </div>
                            </div>

                            <div class="Mod-Empresa-empleado-f">
                                <label for="Apellido" class="Apellido">Apellido:</label>
                                <div id="Apellido-empleado-c">
                                    <input type="text" name="Apellido" id="Apellido" required>
                                </div>
                            </div>

                            <div class="Mod-Empresa-empleado-f">
                                <label for="Email_Empleado" class="Email">Email:</label>
                                <div id="Email-empleado-c">
                                    <input type="email" name="Email" id="Email_Empleado" required>
                                </div>
                            </div>

                            <div class="Mod-Empresa-empleado-f">
                                <label for="Telefono" class="Telefono">Telefono:</label>
                                <div id="Tel-empleado-c">
                                    <input type="number" name="Telefono" id="Telefono" required>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <button type="submit" class="Guardar" id="Guardar_Empleado">Guardar</button>
            </form>
        </div>

    </div>
</div>

<!-- aqui va el de Tareas -->

<div class="overlay" id="overlay_Tarea">
    <div class="pop-up" id="pop-up_Tarea">
        <div class="Alta">
            <form id="Alta_Tarea" action="{% url 'NuevaTarea' %}" method="post">
                {% csrf_token %}
                <a href="#" id="btn-cerrar-popup_Tarea" class="btn-cerrar-popup"><img src="/static/imagenes/cerrar.png"></a>
                <div class="Titulo_Alta">
                    <h1>Alta Tarea</h1>
                </div>
                <fieldset class="fieldset_Alta">
                    <legend><strong>Datos de la Tarea</strong></legend>
                    <div class="Registro_Personales">
                        <div>
                            <label for="Nombre_Tarea" class="Nombre">Tarea:</label>
                            <div id="nombre-tarea-f">
                                <input type="text" name="Nombre_Tarea" id="Nombre_Tarea" required>
                            </div>
                        </div>

                        <div class="div-fit">
                            <label for="Fecha_Inicio_Tarea" class="Fecha_Inicio">Fecha Inicio:</label>
                            <div id="fi-tarea-f">
                                <input type="date" name="Fecha_Inicio" id="Fecha_Inicio_Tarea" required>
                            </div>
                        </div>
                        <div class="div-fit">
                            <label for="Fecha_Fin_Tarea" class="Fecha_Fin">Fecha Fin:</label>
                            <div id="ff-tarea-f">
                                <input type="date" name="Fecha_Fin" id="Fecha_Fin_Tarea" required>
                            </div>
                        </div>
                        {% block content_responsable %} {% endblock %}

                        {% block content_prioridad %} {% endblock %}

                        {% block content_estado %} {% endblock %}

                        <div>
                            <label for="Descripcion_Tarea-form" class="Descripcion_Tarea">Descripcion:</label>
                            <div>
                                <textarea name="Descripcion_Tarea" id="Descripcion_Tarea-form" required></textarea>
                            </div>
                        </div>

                        <div>
                            <label for="Notas_Empleado-form" class="Notas_Empleado">Notas Empleado:</label>
                            <div>
                                <textarea name="Notas_Empleado" id="Notas_Empleado-form"></textarea>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <button type="submit" class="Guardar" id="Guardar_Tarea">Guardar</button>
            </form>
        </div>

    </div>
</div>

<!-- aqui va el de Proyectos -->

<div class="overlay" id="overlay_Proyecto">
    <div class="pop-up" id="pop-up_Proyecto">
        <div class="Alta">
            <form id="Alta_Proyecto" action="{% url 'NuevoProyecto' %}" method="post">
                {% csrf_token %}
                <a href="#" id="btn-cerrar-popup_Proyecto" class="btn-cerrar-popup"><img
                        src="/static/imagenes/cerrar.png"></a>
                <div class="Titulo_Alta">
                    <h1>Alta Proyectos</h1>
                </div>
                <fieldset class="fieldset_Alta">
                    <legend><strong>Datos del Proyecto</strong></legend>
                    <div class="Registro_Personales">

                        <div class="gen-p">
                            <label for="Nombre_Proyecto" class="Nombre_Proyecto">Nombre Proyecto:</label>
                            <div class="sel-mp-nom">
                                <input type="text" name="Nombre_Proyecto" id="Nombre_Proyecto" required>
                            </div>
                        </div>

                        <div class="gen-p">
                            <label for="Fecha_Inicio_Proyecto" class="Fecha_Inicio">Fecha Inicio:</label>
                            <div class="sel-mp-fi">
                                <input type="date" name="Fecha_Inicio" id="Fecha_Inicio_Proyecto" required>
                            </div>
                        </div>

                        <div class="gen-p">
                            <label for="Fecha_Fin_Proyecto" class="Fecha_Fin">Fecha Fin:</label>
                            <div class="sel-mp-ff">
                                <input type="date" name="Fecha_Fin" id="Fecha_Fin_Proyecto" required>
                            </div>
                        </div>

                        <div class="gen-p">
                            <label for="Presupuesto" class="Presupuesto">Presupuesto:</label>
                            <div class="sel-mp-p">
                                <input type="number" name="Presupuesto" id="Presupuesto" required>
                            </div>
                        </div>
                        {% block content_cliente %} {% endblock %}

                        {% block content_departamento %} {% endblock %}

                        {% block content_estados %} {% endblock %}

                        <div class="conj-mp">
                            {% block content_tareas %} {% endblock %}

                            {% block content_empleados %} {% endblock %}
                        </div>

                        <label for="Descripcion_Proyecto" class="Descripcion_Proyecto">Descripcion:</label>
                        <textarea name="Descripcion_Proyecto" id="Descripcion_Proyecto" required> </textarea>
                    </div>
                </fieldset>
                <button type="submit" class="Guardar" id="Guardar_Proyecto">Guardar</button>
            </form>
        </div>

    </div>
</div>

<script src="/static/js/popup_base.js"></script>


</body>
</html>
