{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>PROJECT-M</title>
	<link rel="shortcut icon" href="/static/imagenes/Logo.jpg">
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
</head>
<body>
	<!-- Encabezado de la página Web -->
	<header>
		<div class="nombre-empresa">
			<h1>Deustotil Tech</h1>
		</div>

		<div class="logout">
			<div class="logout-interno">
				<img src="/static/imagenes/logout.png">
				<a href="">Log out</a>
			</div>
		</div>

		<nav class="Navegacion">
            <ul class="Menu">
                <li><a href="">Modificar</a>
                    <ul class="SubMenu">
						<li><a href="">Cliente</a></li>
                    	<li><a href="">Empleado</a></li>
                        <li><a href="">Proyecto</a></li>
                        <li><a href="">Tarea</a></li>
                    </ul>
                </li>
                <li><a href="">Nuevo</a>
                    <ul class="SubMenu">
						<li><a href="">Cliente</a></li>
                    	<li><a href="">Empleado</a></li>
                        <li><a href="">Proyecto</a></li>
                        <li><a href="">Tarea</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
	</header>


	<!-- Aqui irá el cuerpo de la página -->
	{% block content %} {% endblock %}


	<!-- Aqui comienza el pie de página -->
	<footer>

	</footer>

</div>

</body>
</html>
