{% extends "Base.html" %}

{% block content %}
<!-- Cuerpo central de la pagina -->

<div class="detalles_proyecto">
    <div class="top">
        <div class="titulo">
            <h1>{{ nombre }}</h1>
        </div>
        <div class="est-proyect">
            {% if estado == 'Abierto' %}
            <label class="verde">{{ estado }}</label>
            {% elif estado == 'En proceso' %}
            <label class="naranja">{{ estado }}</label>
            {% else %}
            <label class="rojo">{{ estado }}</label>
            {% endif %}

        </div>
    </div>

    <div class="infor-basica">
        <fieldset class="datos-principales">
            <legend><strong>Datos principales</strong></legend>
            <div class="primera-linea">
                <div class="fecha-ini">
                    <label class="etiqueta"><strong>Fecha de inicio: </strong></label><label class="variable">
                    {{ fecha_inicio|date:'d-m-Y' }}</label>
                </div>
                <div class="fecha-fin">
                    <label class="etiqueta"><strong>Fecha de finalizacion: </strong></label><label class="variable">
                    {{ fecha_fin|date:'d-m-Y' }}</label>
                </div>
            </div>
            <div class="segunda-linea">
                <div class="cliente">
                    <label class="etiqueta"><strong>Cliente: </strong></label> <label class="variable">
                    {{ cliente }}</label>
                </div>
                <div class="dep">
                    <label class="etiqueta"><strong>Departamento: </strong></label><label
                        class="variable">{{ departamento }}</label>
                </div>
            </div>
            <div class="pres">
                <label class="etiqueta"><strong>Presupuesto: </strong></label><label class="variable">{{ presupuesto }}
                €</label>
            </div>

        </fieldset>

        <fieldset class="proyecto-fieldset">
            <legend><strong>Tareas a realizar</strong></legend>
            <div class="conjuto">
                <div class="lado-derecho">

                    <ul class="etiqueta">TAREAS
                        {% for a in tareas_a_realizar %}
                        <li class="variable"><label><a href="{% url 'DetallesTareas' a.id_tarea %}" class="hreftareas">
                            {{ a.tarea }}</a></label></li>
                        {% endfor %}
                    </ul>

                </div>
                <div class="lado-izquierda">
                    <ul class="etiqueta">RESPONSABLE
                        {% for a in tareas_a_realizar %}
                        <li class="variable">{{ a.responsable }} {{ a.responsable.apellido }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </fieldset>


        <fieldset class="proyecto-fieldset">

            <legend><strong>Empleados asignados al proyecto</strong></legend>
            <div class="empl">

                <div class="EmpleadoAsignado">
                    {% for a in empleados_der %}
                    <label class="variable">&#8226; {{ a.nombre }} {{ a.apellido }} </label><br>
                    {% endfor %}
                </div>


                <div class="EmpleadoAsignado-izq">
                    {% for a in empleados_izq %}
                    <label class="variable">&#8226; {{ a.nombre }} {{ a.apellido }} </label><br>
                    {% endfor %}
                </div>

            </div>
        </fieldset>

        <fieldset class="proyecto-fieldset">
            <legend><strong>Descripcion del proyecto</strong></legend>
            <div class="desc">
                <p class="variable"> {{ descripcion }} </p>
            </div>
        </fieldset>

    </div>
    <button onclick="history.back()" class="flotante"><img src="/static/imagenes/flecha.png"></button>

</div>

{% endblock %}


<!-- TAREAS -->

<!-- Para cargar datos de los responsables en el pop-up de TAREAS -->
{% block content_responsable %}
<div class="div-resp">
    <label>Responsable:</label>
    <div class="resp-sel">
        <select name="Responsable" class="Responsable" required>
            {% for resp in responsable %}
            <option name="responsable" value="{{ resp.id }}"> {{ resp.nombre }} {{ resp.apellido }}</option>
            {% endfor %}

        </select>
    </div>
</div>
{% endblock %}

<!-- Para cargar datos de los prioridad en el pop-up de TAREAS -->
{% block content_prioridad %}
<div class="div_prio">
    <label>Prioridad:</label>
    <div class="prio-sel">
        <select name="Prioridad" class="Prioridad" required>
            {% for prio in prioridad %}
            <option name="prioridad" value="{{ prio.id }}"> {{ prio.nivel_prioridad }}</option>
            {% endfor %}
        </select>
    </div>
</div>
{% endblock %}

<!-- Para cargar datos de los estado en el pop-up de TAREAS -->
{% block content_estado %}
<div class="div-estado">
    <label>Estado:</label>
    <div class="est-sel">
        <select name="Estado_Tarea" class="Estado" required>
            {% for est in estado_tarea %}
            <option name="estado_tarea" value="{{ est.id }}"> {{ est.estado }}</option>
            {% endfor %}
        </select>
    </div>
</div>
{% endblock %}


<!-- PROYECTO -->

<!-- Para cargar datos de los cliente en el pop-up de PROYECTO -->
{% block content_cliente %}
<div class="gen-p">
    <label>Cliente:</label>
    <div class="sel-np">
        <select name="Cliente" class="Cliente" required>
            {% for cli in clientes %}
            <option name="cliente" value="{{ cli.id }}"> {{ cli.empresa }}</option>
            {% endfor %}
        </select>
    </div>
</div>
{% endblock %}

<!-- Para cargar datos de los tareas en el pop-up de PROYECTO -->
{% block content_tareas %}
<div class="izq-mp">
    <label class="Clase_Empleado">Tareas:</label>
    <div class="sle">
        <select name="Tareas" class="Tareas" multiple="" size="3">
            {% for tar in tareas %}
            <option value="{{ tar.id }}"> {{ tar.nombre }}</option>
            {% endfor %}
        </select>
    </div>
</div>
{% endblock %}

<!-- Para cargar datos de los empleados en el pop-up de PROYECTO -->
{% block content_empleados %}
<div class="der-mp">
    <label class="Clase_Empleado">Empleados:</label>
    <div class="sle">
        <select name="Empleados" multiple size="3">
            {% for resp in responsable %}
            <option value="{{ resp.id }}"> {{ resp.nombre }} {{ resp.apellido }}</option>
            {% endfor %}
        </select>
    </div>
</div>
{% endblock %}

<!-- Para cargar datos de los departamentos en el pop-up de PROYECTO -->
{% block content_departamento %}
<div class="gen-p">
    <label>Departamento:</label>
    <div class="sel-np">
        <select name="Departamento" class="Departamento" required>
            </option>
            {% for dep in departamentos %}
            <option name="departamento" value="{{ dep.nombre }}"> {{ dep.nombre }}</option>
            {% endfor %}
        </select>
    </div>
</div>
{% endblock %}

<!-- Para cargar datos de los estado en el pop-up de PROYECTO -->
{% block content_estados %}
<div class="gen-p">
    <label>Estado:</label>
    <div class="sel-np">
        <select name="Estado" required>
            {% for est in estado_proyecto %}
            <option name="estado" value="{{ est.estado }}"> {{ est.estado }}</option>
            {% endfor %}
        </select>
    </div>
</div>
{% endblock %}
