{% extends 'Base.html' %}

{% block content %}
<script src="/static/js/ConfirmarBorrar.js"></script>

<div class="ModificarTarea">
    <form action="{% url 'ActualizarTarea' %}" method="post">
        {% csrf_token %}
        <div class="Titulo_Modificar_Tarea">
            <h1>Tarea</h1>
        </div>
        <fieldset class="fieldset-mod-tarea">
            <legend><strong>Datos de la Tarea</strong></legend>
            <div class="Registro_Personales">
                <div>
                    <label for="Nombre_Tarea" class="Nombre">Tarea:</label>
                    <div id="nombre-tarea-f">
                        <input type="text" name="Nombre_Tarea" id="Nombre_Tarea" value="{{ tarea.nombre }}" required>
                    </div>
                </div>

                <div class="div-fit">
                    <label for="Fecha_Inicio_Tarea" class="Fecha_Inicio">Fecha Inicio:</label>
                    <div id="fi-tarea-f">
                        <input type="date" name="Fecha_Inicio" id="Fecha_Inicio_Tarea" value="{{ tarea.fecha_inicio|date:'Y-m-d' }}" required>
                    </div>
                </div>
                <div class="div-fit">
                    <label for="Fecha_Fin_Tarea" class="Fecha_Fin">Fecha Fin:</label>
                    <div id="ff-tarea-f">
                        <input type="date" name="Fecha_Fin" id="Fecha_Fin_Tarea" value="{{ tarea.fecha_fin|date:'Y-m-d' }}" required>
                    </div>
                </div>
                <div class="div-resp">
                    <label>Responsable:</label>
                    <div class="resp-sel">
                        <select name="Responsable" class="Responsable" required>

                            <option name="responsable" value="{{ resp_id }}" selected>{{ resp_nom }} {{ resp_ape }}</option>

                            {% for resp in responsable %}
                            <option name="responsable" value="{{ resp.id }}">{{ resp.nombre }} {{ resp.apellido }}</option>
                            {% endfor %}

                        </select>
                    </div>
                </div>

                <div class="div_prio">
                    <label>Prioridad:</label>
                    <div class="prio-sel">
                        <select name="Prioridad" class="Prioridad" required>

                            <option name="prioridad" value="{{ prio_actual.id }}">{{ prio_actual.nivel_prioridad }}</option>

                            {% for prio in prioridad %}
                            <option name="prioridad" value="{{ prio.id }}">{{ prio.nivel_prioridad }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="div-estado">
                    <label>Estado:</label>
                    <div class="est-sel">
                        <select name="Estado_Tarea" class="Estado" required>

                            <option name="estado_tarea" value="{{ est_actual.id }}"> {{ est_actual.estado }}</option>

                            {% for est in estado_tarea %}
                            <option name="estado_tarea" value="{{ est.id }}"> {{ est.estado }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div>
                    <label for="Descripcion_Tarea-form" class="Descripcion_Tarea">Descripcion:</label>
                    <div >
                        <textarea name="Descripcion_Tarea" id="Descripcion_Tarea-form" required>{{ tarea.descripcion }}</textarea>
                    </div>
                </div>

                <div>
                    <label for="Notas_Empleado-form" class="Notas_Empleado">Notas Empleado:</label>
                    <div>
                        <textarea name="Notas_Empleado" id="Notas_Empleado-form">{{ tarea.notas_adicionales_escritas_empleado }}</textarea>
                    </div>
                </div>
            </div>
        </fieldset>
        <div class="botones-fc">
            <div class="btn-guardar-cc">
                <button type="submit" class="Guardar-mfc" name="btn-modificar-tarea"
                        value="{{ tarea.id }}">Guardar Cambios
                </button>
            </div>
        </div>
    </form>
    <form action="{% url 'BorrarTarea' %}" onsubmit="return ConfirmarBorrar()" method="post">
        {% csrf_token %}
        <div class="botones-fc">
            <div class="btn-eliminar-c">
                <button type="submit" class="Eliminar-mfc" name="btn-delete-tarea"
                        value="{{ tarea.id }}">Eliminar
                </button>
            </div>
        </div>
    </form>
    <button onclick="history.back()" class="flotante"><img src="/static/imagenes/flecha.png"></button>
</div>

{% endblock %}

<!-- TAREAS -->

<!-- Para cargar datos de los responsables en el pop-up de TAREAS -->
{% block content_responsable %}
<div class="div-resp">
    <label>Responsable:</label>
    <div class="resp-sel">
        <select name="Responsable" class="Responsable" required>
            {% for resp in responsable %}
            <option name="responsable" value="{{ resp.id }}"> {{ resp.nombre }} {{ resp.apellido }}</option>
            {% endfor %}

        </select>
    </div>
</div>
{% endblock %}

<!-- Para cargar datos de los prioridad en el pop-up de TAREAS -->
{% block content_prioridad %}
<div class="div_prio">
    <label>Prioridad:</label>
    <div class="prio-sel">
        <select name="Prioridad" class="Prioridad" required>
            {% for prio in prioridad %}
            <option name="prioridad" value="{{ prio.id }}"> {{ prio.nivel_prioridad }}</option>
            {% endfor %}
        </select>
    </div>
</div>
{% endblock %}

<!-- Para cargar datos de los estado en el pop-up de TAREAS -->
{% block content_estado %}
<div class="div-estado">
    <label>Estado:</label>
    <div class="est-sel">
        <select name="Estado_Tarea" class="Estado" required>
            {% for est in estado_tareas %}
            <option name="estado_tarea" value="{{ est.id }}"> {{ est.estado }}</option>
            {% endfor %}
        </select>
    </div>
</div>
{% endblock %}


<!-- PROYECTO -->

<!-- Para cargar datos de los cliente en el pop-up de PROYECTO -->
{% block content_cliente %}
<div class="gen-p">
    <label>Cliente:</label>
    <div class="sel-np">
        <select name="Cliente" class="Cliente" required>
            {% for cli in clientes %}
            <option name="cliente" value="{{ cli.id }}"> {{ cli.empresa }}</option>
            {% endfor %}
        </select>
    </div>
</div>
{% endblock %}

<!-- Para cargar datos de los tareas en el pop-up de PROYECTO -->
{% block content_tareas %}
<div class="izq-mp">
    <label class="Clase_Empleado">Tareas:</label>
    <div class="sle">
        <select name="Tareas" class="Tareas" multiple="" size="3">
            {% for tar in tareas %}
            <option value="{{ tar.id }}"> {{ tar.nombre }}</option>
            {% endfor %}
        </select>
    </div>
</div>
{% endblock %}

<!-- Para cargar datos de los empleados en el pop-up de PROYECTO -->
{% block content_empleados %}
<div class="der-mp">
    <label class="Clase_Empleado">Empleados:</label>
    <div class="sle">
        <select name="Empleados" multiple size="3">
            {% for resp in responsables %}
            <option value="{{ resp.id }}"> {{ resp.nombre }} {{ resp.apellido }}</option>
            {% endfor %}
        </select>
    </div>
</div>
{% endblock %}

<!-- Para cargar datos de los departamentos en el pop-up de PROYECTO -->
{% block content_departamento %}
<div class="gen-p">
    <label>Departamento:</label>
    <div class="sel-np">
        <select name="Departamento" class="Departamento" required>
            </option>
            {% for dep in departamentos %}
            <option name="departamento" value="{{ dep.nombre }}"> {{ dep.nombre }}</option>
            {% endfor %}
        </select>
    </div>
</div>
{% endblock %}

<!-- Para cargar datos de los estado en el pop-up de PROYECTO -->
{% block content_estados %}
<div class="gen-p">
    <label>Estado:</label>
    <div class="sel-np">
        <select name="Estado" required>
            {% for est in estado_proyecto %}
            <option name="estado" value="{{ est.estado }}"> {{ est.estado }}</option>
            {% endfor %}
        </select>
    </div>
</div>
{% endblock %}
