{% extends 'Base.html' %}

{% block content %}


<div class="ModificarProyecto">
    <form action="{% url 'ActualizarProyecto' %}" method="post">
        {% csrf_token %}
        <div class="Titulo_Modificar_Proyecto">
            <h1>Proyecto</h1>
        </div>
        <fieldset class="fieldset_Alta">
            <legend><strong>Datos del Proyecto</strong></legend>
            <div class="Registro_Personales">

                <div class="gen-p">
                    <label for="Nombre_Proyecto" class="Nombre_Proyecto">Nombre Proyecto:</label>
                    <div class="sel-mp-nom">
                        <input type="text" name="Nombre_Proyecto" id="Nombre_Proyecto" value="{{ pro.nombre }}"
                               required>
                    </div>
                </div>

                <div class="gen-p">
                    <label for="Fecha_Inicio_Proyecto" class="Fecha_Inicio">Fecha Inicio:</label>
                    <div class="sel-mp-fi">
                        <input type="date" name="Fecha_Inicio" id="Fecha_Inicio_Proyecto"
                               value="{{ pro.fecha_inicio|date:'Y-m-d' }}" required>
                    </div>
                </div>

                <div class="gen-p">
                    <label for="Fecha_Fin_Proyecto" class="Fecha_Fin">Fecha Fin:</label>
                    <div class="sel-mp-ff">
                        <input type="date" name="Fecha_Fin" id="Fecha_Fin_Proyecto"
                               value="{{ pro.fecha_fin|date:'Y-m-d' }}" required>
                    </div>
                </div>

                <div class="gen-p">
                    <label for="Presupuesto" class="Presupuesto">Presupuesto:</label>
                    <div class="sel-mp-p">
                        <input type="number" name="Presupuesto" id="Presupuesto" value="{{ pro.presupuesto }}" required>
                    </div>
                </div>

                <div class="gen-p">
                    <label>Cliente:</label>
                    <div class="sel-mp">
                        <select name="Cliente" class="Cliente" required>
                            <option name="cliente" value="{{ cli_actual_id }}" selected> {{ cli_actual }}</option>
                            {% for cli in resto_cli %}
                            <option name="cliente" value="{{ cli.id }}"> {{ cli.empresa }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="gen-p">
                    <label>Departamento:</label>
                    <div class="sel-mp">
                        <select name="Departamento" class="Departamento" required>
                            <option name="departamento" value="{{ dep_actual_id }}" selected> {{ dep_actual }}
                            </option>
                            {% for dep in resto_dep %}
                            <option name="departamento" value="{{ dep.nombre }}"> {{ dep.nombre }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="gen-p">
                    <label>Estado:</label>
                    <div class="sel-mp">
                        <select name="Estado" required>
                            <option name="estado" value="{{ est_actual_id }}" selected> {{ est_actual }}</option>
                            {% for est in resto_est %}
                            <option name="estado" value="{{ est.estado }}"> {{ est.estado }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="conj-mp">
                    <div class="izq-mp">
                        <label class="Clase_Empleado">Tareas:</label>
                        <div class="sle">
                            <select name="Tareas" class="Tareas" multiple="" size="3">

                                {% for t_a in tar_actuales %}
                                <option value="{{ t_a.id }}" selected> {{ t_a.nombre }}</option>
                                {% endfor %}

                                {% for tar in resto_tar %}
                                <option value="{{ tar.id }}"> {{ tar.nombre }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="der-mp">
                        <label class="Clase_Empleado">Empleados:</label>
                        <div class="sle">
                            <select name="Empleados" multiple size="3">

                                {% for resp_a in emp_actuales %}
                                <option value="{{ resp_a.id }}" selected> {{ resp_a.nombre }} {{ resp_a.apellido }}</option>
                                {% endfor %}

                                {% for resp in resto_empl %}
                                <option value="{{ resp.id }}"> {{ resp.nombre }} {{ resp.apellido }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>

                <div>
                    <label for="Descripcion_Proyecto" class="Descripcion_Proyecto">Descripcion:</label>
                    <div>
                        <input type="text" name="Descripcion_Proyecto" id="Descripcion_Proyecto"
                               value="{{ pro.descripcion }}" required> </input>
                    </div>
                </div>
            </div>
        </fieldset>
        <div class="botones-fc">
            <div class="btn-guardar-cc">
                <button type="submit" class="Guardar-mfc" name="btn-modificar-proyecto"
                        value="{{ pro.id }}">Guardar Cambios
                </button>
            </div>
        </div>
    </form>
    <form action="{% url 'BorrarProyecto' %}" method="post">
        {% csrf_token %}
        <div class="botones-fc">
            <div class="btn-eliminar-c">
                <button type="submit" class="Eliminar-mfc" name="btn-delete-proyectos"
                        value="{{ pro.id }}">Eliminar
                </button>
            </div>
        </div>
    </form>
    <button onclick="history.back()" class="flotante"><img src="/static/imagenes/flecha.png"></button>
</div>

{% endblock %}

<!-- TAREAS -->

<!-- Para cargar datos de los responsables en el pop-up de TAREAS -->
{% block content_responsable %}
<div class="div-resp">
    <label>Responsable:</label>
    <div class="resp-sel">
        <select name="Responsable" class="Responsable" required>
            {% for resp in responsable %}
            <option name="responsable" value="{{ resp.id }}"> {{ resp.nombre }} {{ resp.apellido }}</option>
            {% endfor %}

        </select>
    </div>
</div>
{% endblock %}

<!-- Para cargar datos de los prioridad en el pop-up de TAREAS -->
{% block content_prioridad %}
<div class="div_prio">
    <label>Prioridad:</label>
    <div class="prio-sel">
        <select name="Prioridad" class="Prioridad" required>
            {% for prio in prioridades %}
            <option name="prioridad" value="{{ prio.id }}"> {{ prio.nivel_prioridad }}</option>
            {% endfor %}
        </select>
    </div>
</div>
{% endblock %}

<!-- Para cargar datos de los estado en el pop-up de TAREAS -->
{% block content_estado %}
<div class="div-estado">
    <label>Estado:</label>
    <div class="est-sel">
        <select name="Estado_Tarea" class="Estado" required>
            {% for est in estado_tarea %}
            <option name="estado_tarea" value="{{ est.id }}"> {{ est.estado }}</option>
            {% endfor %}
        </select>
    </div>
</div>
{% endblock %}


<!-- PROYECTO -->

<!-- Para cargar datos de los cliente en el pop-up de PROYECTO -->
{% block content_cliente %}
<div class="gen-p">
    <label>Cliente:</label>
    <div class="sel-np">
        <select name="Cliente" class="Cliente" required>
            {% for cli in clientes %}
            <option name="cliente" value="{{ cli.id }}"> {{ cli.empresa }}</option>
            {% endfor %}
        </select>
    </div>
</div>
{% endblock %}

<!-- Para cargar datos de los tareas en el pop-up de PROYECTO -->
{% block content_tareas %}
<div class="izq-mp">
    <label class="Clase_Empleado">Tareas:</label>
    <div class="sle">
        <select name="Tareas" class="Tareas" multiple="" size="3">
            {% for tar in tareas %}
            <option value="{{ tar.id }}"> {{ tar.nombre }}</option>
            {% endfor %}
        </select>
    </div>
</div>
{% endblock %}

<!-- Para cargar datos de los empleados en el pop-up de PROYECTO -->
{% block content_empleados %}
<div class="der-mp">
    <label class="Clase_Empleado">Empleados:</label>
    <div class="sle">
        <select name="Empleados" multiple size="3">
            {% for resp in responsable %}
            <option value="{{ resp.id }}"> {{ resp.nombre }} {{ resp.apellido }}</option>
            {% endfor %}
        </select>
    </div>
</div>
{% endblock %}

<!-- Para cargar datos de los departamentos en el pop-up de PROYECTO -->
{% block content_departamento %}
<div class="gen-p">
    <label>Departamento:</label>
    <div class="sel-np">
        <select name="Departamento" class="Departamento" required>
            </option>
            {% for dep in departamentos %}
            <option name="departamento" value="{{ dep.nombre }}"> {{ dep.nombre }}</option>
            {% endfor %}
        </select>
    </div>
</div>
{% endblock %}

<!-- Para cargar datos de los estado en el pop-up de PROYECTO -->
{% block content_estados %}
<div class="gen-p">
    <label>Estado:</label>
    <div class="sel-np">
        <select name="Estado" required>
            {% for est in estado_proyecto %}
            <option name="estado" value="{{ est.estado }}"> {{ est.estado }}</option>
            {% endfor %}
        </select>
    </div>
</div>
{% endblock %}
