{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
    <link rel="stylesheet" href="{% static 'css/Estilos.css' %}">
    <link rel="shortcut icon" href="/static/imagenes/Logo.jpg">
    <script type="text/javascript" src="/static/js/comprobar_cont_form.js"></script>
</head>

<body>
    <main>
        <form class="Alta_Usuario" action="{% url 'RecogerFormulario' %}" method="post">
            {% csrf_token %}
            <div class="Titulo_Formulario">
                <h1>Formulario Registro</h1>
            </div>
            <fieldset class="fieldset_Registro">
                <legend><strong>Datos del Usuario</strong></legend>
                <div class="Registro_Personales">
                    <label for="Nombre" class="Nombre">Nombre</label>
                    <input type="text" name="nombre" id="Nombre" required>
                    <br>
                    <label for="Apellido_1" class="Apellido_1">1<sup>er</sup> Apellido</label>
                    <input type="text" name="Apellido_1" id="Apellido_1" required>
                    <br>
                    <label for="Apellido_2" class="Apellido_2">2<sup>º</sup> Apellido</label>
                    <input type="text" name="Apellido_2" id="Apellido_2" required>
                    <br>
                    Sexo: <label for="Hombre" class="Sexo">Hombre</label>
                    <input type="radio" name="Sexo" id="Hombre" value="Hombre" required>
                    <label for="Mujer" class="Sexo">Mujer</label>
                    <input type="radio" name="Sexo" id="Mujer" value="Mujer" required>
                    <label for="Otro" class="Sexo">Otro</label>
                    <input type="radio" name="Sexo" id="Otro" value="Otro" required>
                    <br>
                    <label for="Fecha_Nacimiento" class="Fecha_Nacimiento">Fecha Nacimiento:</label>
                    <input type="date" name="Fecha_Nacimiento" id="Fecha_Nacimiento" required>
                    <br>
                    Departamento: <select name="Departamento" class="Departamento" required> {% for dep in departamentos %} <option> {{ dep.nombre }} </option> {% endfor %} </select>
                    <br>
                    Categoria: <select name="Categoria" class="Categoria" required> {% for cat in categoria %} <option> {{ cat.nombre }} </option> {% endfor %} </select>
                </div>
            </fieldset>
            <fieldset class="fieldset_Registro">
                <legend><strong>Datos de Cuenta</strong></legend>
                <div class="Registro_Cuenta">
                    <label for="User">Usuario</label>
                    <input type="text" name="User" id="User" required readonly>
                    <br>
                    <label for="Contraseña">Contraseña</label>
                    <input type="password" name="Contraseña" id="Contraseña" required>
                    <br>
                    <label for="Repetir_Contraseña">Repetir Contraseña</label>
                    <input type="password" name="Repetir_Contraseña" id="Repetir_Contraseña" required>
                    <br>
                    <label for="Correo_Electronico">Correo Electronico</label>
                    <input type="email" name="Correo_Electronico" id="Correo_Electronico" required>
                </div>
            </fieldset>
            <div class="Acepto_Condiciones">
                <label for="Acepto_Condiciones">Acepto Condiciones</label>
                <input type="checkbox" name="Acepto_Condiciones" id="Acepto_Condiciones" required>
            </div>
            <button type="submit" class="Entrar_Usuario" id="Entrar_Usuario" onClick="comprobarClave()">Registrarse</button>
        </form>
    </main>
</body>


</html>
