{% extends 'Base.html' %}

{% block content %}


<div class="ModificarCliente">
    <form id="formulario" method="post">
        {% csrf_token %}
        <div class="Titulo_Modificar_Cliente">
            <h1>Cliente</h1>
        </div>
        <fieldset class="fieldset_Alta">
            <legend><strong>Datos del Cliente</strong></legend>
            <div class="Registro_Personales">

                <div class="Mod-Nombre-c">
                    <label for="Nombre_Cliente" class="Nombre">Nombre y Apellido:</label>
                    <div id="Nombre_Cliente-f">
                        <input type="text" name="nombre" id="Nombre_Cliente" value="{{ cliente.nombre }}" required>
                    </div>
                </div>

                <div class="Mod-Empresa-c">
                    <label for="Empresa-f" class="Empresa">Empresa:</label>
                    <div id="Empresa-f">
                        <input type="text" name="Empresa" id="Empresa" value="{{ cliente.empresa }}" required readonly>
                    </div>
                </div>

                <div class="Mod-Email-c">
                    <label for="Email_Cliente-f" class="Email">Email:</label>
                    <div id="Email_Cliente-f">
                        <input type="email" name="Email" id="Email_Cliente" value="{{ cliente.email }}" required>
                    </div>
                </div>

                <div class="Mod-Loc-c">
                    <label for="Localizacion_Empresa_Cliente-f" class="Localizacion">Localizacion:</label>
                    <div id="Localizacion_Empresa_Cliente-f">
                        <input type="text" name="Localizacion" id="Localizacion_Empresa_Cliente"
                               value="{{ cliente.localizacion }}" required>
                    </div>
                </div>

                <div class="Mod-Tel-c">
                    <label for="Telefono_Cliente-f" class="Telefono">Telefono:</label>
                    <div id="Telefono_Cliente-f">
                        <input type="number" name="Telefono" id="Telefono_Cliente" value="{{ cliente.telefono }}"
                               required>
                    </div>
                </div>

                <div class="Mod-Cuenta-c">
                    <label for="Numero_Cuenta_Cliente-f" class="Numero_Cuenta">Numero Cuenta:</label>
                    <div id="Numero_Cuenta_Cliente-f">
                        <input type="text" name="Numero_Cuenta" id="Numero_Cuenta_Cliente" onblur="enviar()"
                               value="{{ cliente.numero_cuenta }}" required>
                    </div>
                </div>

            </div>
        </fieldset>
        <div class="botones-fc">
            <div class="btn-guardar-cc">
                <button type="button" class="Guardar-mfc" id="Guardar_Cambios_Cliente" name="btn-modificar-cliente"
                        value="{{ cliente.id }}">Guardar Cambios
                </button>
            </div>
        </div>
    </form>
    <form action="{% url 'BorrarCliente' %}" onsubmit="return ConfirmarBorrar()" method="post">
        {% csrf_token %}
        <div class="botones-fc">
            <div class="btn-eliminar-c">
                <button type="submit" class="Eliminar-mfc" id="Eliminar_Cliente" name="btn-delete-cliente"
                        value="{{ cliente.id }}">Eliminar
                </button>
            </div>
        </div>
    </form>
    <button onclick="history.back()" class="flotante"><img src="/static/imagenes/flecha.png"></button>
</div>

<script src="/static/js/ConfirmarBorrar.js"></script>

{% endblock %}


<!-- TAREAS -->

<!-- Para cargar datos de los responsables en el pop-up de TAREAS -->
{% block content_responsable %}
<div class="div-resp">
    <label>Responsable:</label>
    <div class="resp-sel">
        <select name="Responsable" class="Responsable" required>
            {% for resp in responsable %}
            <option name="responsable" value="{{ resp.id }}"> {{ resp.nombre }} {{ resp.apellido }}</option>
            {% endfor %}

        </select>
    </div>
</div>
{% endblock %}

<!-- Para cargar datos de los prioridad en el pop-up de TAREAS -->
{% block content_prioridad %}
<div class="div_prio">
    <label>Prioridad:</label>
    <div class="prio-sel">
        <select name="Prioridad" class="Prioridad" required>
            {% for prio in prioridad %}
            <option name="prioridad" value="{{ prio.id }}"> {{ prio.nivel_prioridad }}</option>
            {% endfor %}
        </select>
    </div>
</div>
{% endblock %}

<!-- Para cargar datos de los estado en el pop-up de TAREAS -->
{% block content_estado %}
<div class="div-estado">
    <label>Estado:</label>
    <div class="est-sel">
        <select name="Estado_Tarea" class="Estado" required>
            {% for est in estado_tarea %}
            <option name="estado_tarea" value="{{ est.id }}"> {{ est.estado }}</option>
            {% endfor %}
        </select>
    </div>
</div>
{% endblock %}


<!-- PROYECTO -->

<!-- Para cargar datos de los cliente en el pop-up de PROYECTO -->
{% block content_cliente %}
<div class="gen-p">
    <label>Cliente:</label>
    <div class="sel-np">
        <select name="Cliente" class="Cliente" required>
            {% for cli in clientes %}
            <option name="cliente" value="{{ cli.id }}"> {{ cli.empresa }}</option>
            {% endfor %}
        </select>
    </div>
</div>
{% endblock %}

<!-- Para cargar datos de los tareas en el pop-up de PROYECTO -->
{% block content_tareas %}
<div class="izq-mp">
    <label class="Clase_Empleado">Tareas:</label>
    <div class="sle">
        <select name="Tareas" class="Tareas" multiple="" size="3">
            {% for tar in tareas %}
            <option value="{{ tar.id }}"> {{ tar.nombre }}</option>
            {% endfor %}
        </select>
    </div>
</div>
{% endblock %}

<!-- Para cargar datos de los empleados en el pop-up de PROYECTO -->
{% block content_empleados %}
<div class="der-mp">
    <label class="Clase_Empleado">Empleados:</label>
    <div class="sle">
        <select name="Empleados" multiple size="3">
            {% for resp in responsable %}
            <option value="{{ resp.id }}"> {{ resp.nombre }} {{ resp.apellido }}</option>
            {% endfor %}
        </select>
    </div>
</div>
{% endblock %}

<!-- Para cargar datos de los departamentos en el pop-up de PROYECTO -->
{% block content_departamento %}
<div class="gen-p">
    <label>Departamento:</label>
    <div class="sel-np">
        <select name="Departamento" class="Departamento" required>
            </option>
            {% for dep in departamentos %}
            <option name="departamento" value="{{ dep.nombre }}"> {{ dep.nombre }}</option>
            {% endfor %}
        </select>
    </div>
</div>
{% endblock %}

<!-- Para cargar datos de los estado en el pop-up de PROYECTO -->
{% block content_estados %}
<div class="gen-p">
    <label>Estado:</label>
    <div class="sel-np">
        <select name="Estado" required>
            {% for est in estado_proyecto %}
            <option name="estado" value="{{ est.estado }}"> {{ est.estado }}</option>
            {% endfor %}
        </select>
    </div>
</div>
{% endblock %}
