{% extends 'Base.html' %}

{% block content %}


<div class="ModificarEmpleado">
    <form action="{% url 'ActualizarEmpleado' %}" method="post">
        {% csrf_token %}
        <div class="Titulo_Modificar_Empleado">
            <h1>Empleado</h1>
        </div>
        <fieldset class="fieldset-mod-empleado">
            <legend><strong>Datos del Empleado</strong></legend>
            <div class="Registro_Personales">
                <div>
                    <label for="DNI_Empleado-f" class="DNI">DNI:</label>
                    <div id="DNI_Empleado-f">
                        <input type="text" name="dni" id="DNI" value="{{ empleado.dni }}" required>
                    </div>
                </div>

                <div class="Mod-Empresa-empleado-f">
                    <label for="Empresa-empleado-f" class="Nombre">Nombre:</label>
                    <div id="Empresa-empleado-f">
                        <input type="text" name="nombre" id="Nombre" value="{{ empleado.nombre }}" required>
                    </div>
                </div>

                <div class="Mod-Empresa-empleado-f">
                    <label for="Apellido-empleado-f" class="Apellido">Apellido:</label>
                    <div id="Apellido-empleado-f">
                        <input type="text" name="apellido" id="Apellido" value="{{ empleado.apellido }}" required>
                    </div>
                </div>

                <div class="Mod-Empresa-empleado-f">
                    <label for="Email_Empleado" class="Email">Email:</label>
                    <div id="Email-empleado-f">
                        <input type="email" name="email" id="Email_Empleado" value="{{ empleado.email }}" required>
                    </div>
                </div>

                <div class="Mod-Empresa-empleado-f">
                    <label for="Tel-empleado-f" class="Telefono">Telefono:</label>
                    <div id="Tel-empleado-f">
                        <input type="number" name="telefono" id="Telefono" value="{{ empleado.telefono }}" required>
                    </div>
                </div>
            </div>
        </fieldset>
        <div class="botones-fc">
            <div class="btn-guardar-cc">
                <button type="submit" class="Guardar-mfc" name="btn-modificar-empleado"
                        value="{{ empleado.id }}">Guardar Cambios
                </button>
            </div>
        </div>
    </form>
    <form action="{% url 'BorrarEmpleado' %}" method="post">
        {% csrf_token %}
        <div class="botones-fc">
            <div class="btn-eliminar-c">
                <button type="submit" class="Eliminar-mfc" name="btn-delete-empleados"
                        value="{{ empleado.id }}">Eliminar
                </button>
            </div>
        </div>
    </form>
    <button onclick="history.back()" class="flotante"><img src="/static/imagenes/flecha.png"></button>
</div>


{% endblock %}

<!-- TAREAS -->

<!-- Para cargar datos de los responsables en el pop-up de TAREAS -->
{% block content_responsable %}
<label>Responsable:</label>
<select name="Responsable" class="Responsable" required>
    {% for resp in responsable %}
    <option name="responsable" value="{{ resp.id }}"> {{ resp.nombre }} {{ resp.apellido }}</option>
    {% endfor %}
</select>
{% endblock %}

<!-- Para cargar datos de los prioridad en el pop-up de TAREAS -->
{% block content_prioridad %}
<label>Prioridad:</label>
<select name="Prioridad" class="Prioridad" required>
    {% for prio in prioridad %}
    <option name="prioridad" value="{{ prio.nivel_prioridad }}"> {{ prio.nivel_prioridad }}</option>
    {% endfor %}
</select>
{% endblock %}

<!-- Para cargar datos de los estado en el pop-up de TAREAS -->
{% block content_estado %}
<label>Estado:</label>
<select name="Estado" class="Estado" required>
    {% for est in estado_tarea %}
    <option name="estado" value="{{ est.estado }}"> {{ est.estado }}</option>
    {% endfor %}
</select>
{% endblock %}


<!-- PROYECTO -->

<!-- Para cargar datos de los cliente en el pop-up de PROYECTO -->
{% block content_cliente %}
<label>Cliente:</label>
<select name="Cliente" class="Cliente" required>
    {% for cli in clientes %}
    <option name="cliente" value="{{ cli.id }}"> {{ cli.empresa }}</option>
    {% endfor %}
</select>
{% endblock %}

<!-- Para cargar datos de los tareas en el pop-up de PROYECTO -->
{% block content_tareas %}
<label>Tareas:</label>
<select name="Tareas" class="Tareas" required multiple="" size="3">
    {% for tar in tareas %}
    <option value="{{ tar.id }}"> {{ tar.nombre }}</option>
    {% endfor %}
</select>
{% endblock %}

<!-- Para cargar datos de los empleados en el pop-up de PROYECTO -->
{% block content_empleados %}
<label class="Clase_Empleado">Empleados:</label>
<select name="Empleados" class="Empleados" multiple size="3" required>
    {% for resp in responsable %}
    <option value="{{ resp.id }}"> {{ resp.nombre }} {{ resp.apellido }}</option>
    {% endfor %}
</select>
{% endblock %}

<!-- Para cargar datos de los departamentos en el pop-up de PROYECTO -->
{% block content_departamento %}
<label>Departamento:</label>
<select name="Departamento" class="Departamento" required>
    {% for dep in departamentos %}
    <option name="departamento" value="{{ dep.nombre }}"> {{ dep.nombre }}</option>
    {% endfor %}
</select>
{% endblock %}

<!-- Para cargar datos de los estado en el pop-up de PROYECTO -->
{% block content_estados %}
<label>Estado:</label>
<select name="Estado" class="Estado" required>
    {% for est in estado_proyecto %}
    <option name="estado" value="{{ est.estado }}"> {{ est.estado }}</option>
    {% endfor %}
</select>
{% endblock %}
