{% extends "Base.html" %}

{% block content %}
<!-- Cuerpo central de la pagina -->

<div id="content-Ppricipal">

    <nav class="buscador">

        <div class="btn-buscar">
            <a href="https://www.google.com/">
                <button type="button"><img src="/static/imagenes/buscar.png"></button>
            </a>
        </div>

        <div class="buscar-por-estado">
            <label>Estado proyecto: </label>
            <select name="Estado" class="Estado-buscador">
                <option>ABIERTO</option>
                <option>EN CURSO</option>
                <OPTION>FINALIZADO</OPTION>
            </select>
        </div>

        <div class="buscar-por-fecha-fin">
            <label>Fecha fin: </label>
            <input type="date">
        </div>

        <div class="buscar-por-fecha-inicio">
            <label>Fecha inicio: </label>
            <input type="date">
        </div>

        <div class="bucar-por-nombre">
            <label>Nombre del proyecto: </label>
            <input type="text">
        </div>

    </nav>

    <!-- Lado izquierdo de la página, muestra noticias sobre la empresa -->
    <aside id="lado-izquierda">

        <h2><b>CLIENTES</b></h2>

        <hr>

        <!-- Botones -->
        <div class="botones-clientes">
            <form action="{% url 'ProyectosPorClientes' %}" method="post">
                {% csrf_token %}
                <button type="submit" name="botones_cliente" value="Todos">Todos</button>
                {% for n_cliente in clientes %}
                <button type="submit" name="botones_cliente" value="{{ n_cliente.id }}">{{ n_cliente.empresa }}</button>
                {% endfor %}
            </form>
        </div>

    </aside>

    <!-- Lado derecho de la página central. Muestra en una tabla los proyectos en curso -->
    <section id="lado-derecha">

        <h2>HISTORICO DE PROYECTOS</h2>

        <br>

        <!-- Tabla. Se encuentra dentro de div para poder insertar una scrollbar -->
        <div id="tabla">
            <table border="1">
                <!-- Cabecera de la tabla -->
                <thead>
                <tr>
                    <td><b>NOMBRE</b></td>
                    <td><b>FECHA DE INICIO</b></td>
                    <td><b>FECHA DE FIN</b></td>
                    <td><b>ESTADO</b></td>
                    <td><b>ENLACE</b></td>
                </tr>
                </thead>

                <!-- A partir de aqui se encuentran los datos de la tabla -->

                {% for dat in proyectos %}
                <form action="{% url 'DetallesProyecto' %}" method="post">
                    {% csrf_token %}
                    <tr>
                        <td>{{ dat.nombre }}</td>
                        <td>{{ dat.fecha_inicio|date:'d-m-Y' }}</td>
                        <td>{{ dat.fecha_fin|date:'d-m-Y' }}</td>
                        <td>{{ dat.estado }}</td>
                        <td>
                            <button type="submit" name="eleccion" value="{{ dat.id }}">Enlace a detalles</button>
                        </td>
                    </tr>
                </form>
                {% endfor %}

            </table>
        </div>


    </section>
</div>

{% endblock %}

{% block content_responsable %}
<label>Responsable:</label><select name="Responsable" class="Responsable" required> {% for resp in responsable %}
    <option name="responsable" value="{{ resp.id }}"> {{ resp.nombre }} {{ resp.apellido }}</option>
    {% endfor %} </select>
{% endblock %}
{% block content_prioridad %}
<label>Prioridad:</label><select name="Prioridad" class="Prioridad" required> {% for prio in prioridad %}
    <option name="prioridad" value="{{ prio.nivel_prioridad }}"> {{ prio.nivel_prioridad }}</option>
    {% endfor %} </select>
{% endblock %}
{% block content_estado %}
<label>Estado:</label><select name="Estado" class="Estado" required> {% for est in estado_tarea %}
    <option name="estado" value="{{ est.estado }}"> {{ est.estado }}</option>
    {% endfor %} </select>
{% endblock %}
{% block content_cliente %}
<label>Cliente:</label><select name="Cliente" class="Cliente" required> {% for cli in clientes %}
    <option name="cliente" value="{{ cli.id }}"> {{ cli.empresa }}</option>
    {% endfor %} </select>
{% endblock %}
{% block content_tareas %}
<label>Tareas:</label><select name="Tareas[]" class="Tareas" required multiple="" size="3"> {% for tar in tareas %}
    <option value="{{ tar.id }}"> {{ tar.nombre }}</option>
    {% endfor %} </select>
{% endblock %}
{% block content_empleados %}
<label class="Clase_Empleado">Empleados:</label><select name="Empleados" class="Empleados" multiple size="3" required>
    {% for resp in responsable %}
    <option name="Empleados" value="{{ resp.id }}"> {{ resp.nombre }} {{ resp.apellido }}</option>
    {% endfor %} </select>
{% endblock %}
{% block content_departamento %}
<label>Departamento:</label><select name="Departamento" class="Departamento" required> {% for dep in departamento %}
    <option name="departamento" value="{{ dep.nombre }}"> {{ dep.nombre }}</option>
    {% endfor %} </select>
{% endblock %}
{% block content_estados %}
<label>Estado:</label><select name="Estado" class="Estado" required> {% for est in estado_proyecto %}
    <option name="estado" value="{{ est.estado }}"> {{ est.estado }}</option>
    {% endfor %} </select>
{% endblock %}
