{% extends 'TablaModificar.html' %}


{% block content_titulo %}
{{ titulo }}
{% endblock %}

{% block content_col1%}
{{ col1 }}
{% endblock %}

{% block content_col2%}
{{ col2 }}
{% endblock %}

{% block content_col3%}
{{ col3 }}
{% endblock %}

{% block content_datos%}
<tbody>
{% for proyectos in datos %}
<script src="/static/js/ConfirmarBorrar.js"></script>
<tr>
    <td>{{ proyectos.nombre }}</td>
    <td>{{ proyectos.cliente }}</td>
    <td>{{ proyectos.estado }}</td>
    <td>
        <div class="EditarBorrar">
            <div class="Editar">
                <form action="{% url 'PaginaPrincipal' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" name="btn-edit-proyectos" value="{{ proyectos.id }}"><i class="material-icons button edit">edit</i></button>
                </form>
            </div>
            <div class="Borrar">
                <form action="{% url 'BorrarProyecto' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" onclick="ConfirmarBorrar()" name="btn-delete-proyectos" value="{{ proyectos.id }}"><i class="material-icons button delete">delete</i></button>
                </form>
            </div>
        </div>
    </td>
</tr>
{% endfor %}
</tbody>
{% endblock %}
