{% extends "Base.html" %}	

	{% block content %}
	<!-- Cuerpo central de la pagina -->

	<div id = "content-Ppricipal">

		<nav class="buscador">

			<div class="btn-buscar">
				<a href="https://www.google.com/"><button type="button"><img src="/static/imagenes/buscar.png"></button></a>
			</div>

			<div class="buscar-por-estado">
				<label>Estado del proyecto: </label>
				<select name="Estado" class="Estado"> <option>ESTADO</option> </select>
			</div>

			<div class="buscar-por-fecha-fin">
				<label>Fecha fin: </label>
				<input type="date">
			</div>

			<div class="buscar-por-fecha-inicio">
				<label>Fecha inicio: </label>
				<input type="date">
			</div>

			<div class="bucar-por-nombre">
				<label>Nombre del proyecto: </label>
				<input type="text">
			</div>

		</nav>

		<!-- Lado izquierdo de la página, muestra noticias sobre la empresa -->
		<aside id="lado-izquierda">

			<h2><b><u>CLIENTES</u></b></h2>

			<hr>

			<!-- Botones -->
			<div class="botones-clientes">
				<button type="button">Todos</button>
				{% for n_cliente in clientes %}
					<button type="button">{{ n_cliente.empresa }}</button>
				{% endfor %}
			</div>
		
		</aside>

		<!-- Lado derecho de la página central. Muestra en una tabla los proyectos en curso -->
		<section id="lado-derecha">

			<h2>HISTORICO DE PROYECTOS</h2>

			<br>

			<!-- Tabla. Se encuentra dentro de div para poder insertar una scrollbar -->
			<div id="tabla"> 
				<table border="1">
					<!-- Cabecera de la tabla -->
					<thead>
						<tr>
							<td><b>NOMBRE</b></td>
							<td><b>FECHA DE INICIO</b></td>
							<td><b>FECHA DE FIN</b></td>
							<td><b>ESTADO</b></td>
							<td><b>ENLACE</b></td>
						</tr>
					</thead>

					<!-- A partir de aqui se encuentran los datos de la tabla -->
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td><a href="">enlace al proyecto</a></td>
					</tr>

					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td><a href="">enlace al proyecto</a></td>
					</tr>

					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td><a href="">enlace al proyecto</a></td>
					</tr>

					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td><a href="">enlace al proyecto</a></td>
					</tr>

					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td><a href="">enlace al proyecto</a></td>
					</tr>	

					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td><a href="">enlace al proyecto</a></td>
					</tr>

					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td><a href="">enlace al proyecto</a></td>
					</tr>

					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td><a href="">enlace al proyecto</a></td>
					</tr>

					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td><a href="">enlace al proyecto</a></td>
					</tr>

					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td><a href="">enlace al proyecto</a></td>
					</tr>

					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td><a href="">enlace al proyecto</a></td>
					</tr>

					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td><a href="">enlace al proyecto</a></td>
					</tr>

					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td><a href="">enlace al proyecto</a></td>
					</tr>

					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td><a href="">enlace al proyecto</a></td>
					</tr>

					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td><a href="">enlace al proyecto</a></td>
					</tr>
				
				</table>
			</div>

		
		</section>
	</div>
	{% endblock %}
