{% extends 'TablaModificar.html' %}


{% block content_titulo %}
{{ titulo }}
{% endblock %}

{% block content_col1%}
{{ col1 }}
{% endblock %}

{% block content_col2%}
{{ col2 }}
{% endblock %}

{% block content_col3%}
{{ col3 }}
{% endblock %}

{% block content_datos%}
<tbody>
{% for empleados in datos %}
<script src="/static/js/ConfirmarBorrar.js"></script>
<tr>
    <td>{{ empleados.nombre }}</td>
    <td>{{ empleados.apellido }}</td>
    <td>{{ empleados.telefono }}</td>
    <td>
        <div class="EditarBorrar">
            <div class="Editar">
                <form action="{% url 'FormModificarEmpleado' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" name="btn-edit-empleados" value="{{ empleados.id }}"><i class="material-icons button edit">edit</i></button>
                </form>
            </div>
            <div class="Borrar">
                <form action="{% url 'BorrarEmpleado' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" onclick="ConfirmarBorrar()" name="btn-delete-empleados" value="{{ empleados.id }}"><i class="material-icons button delete">delete</i></button>
                </form>
            </div>
        </div>
    </td>
</tr>
{% endfor %}
</tbody>
{% endblock %}
