{% extends 'TablaModificar.html' %}


{% block content_titulo %}
{{ titulo }}
{% endblock %}

{% block content_col1%}
{{ col1 }}
{% endblock %}

{% block content_col2%}
{{ col2 }}
{% endblock %}

{% block content_col3%}
{{ col3 }}
{% endblock %}

{% block content_datos%}
<tbody>
{% for tareas in datos %}
<script src="/static/js/ConfirmarBorrar.js"></script>
<tr>
    <td>{{ tareas.nombre }}</td>
    <td>{{ tareas.nivel_prioridad }}</td>
    <td>{{ tareas.estado_tarea }}</td>
    <td>
        <div class="EditarBorrar">
            <div class="Editar">
                <form action="{% url 'PaginaPrincipal' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" name="btn-edit-tareas" value="{{ tareas.id }}"><i class="material-icons button edit">edit</i></button>
                </form>
            </div>
            <div class="Borrar">
                <form action="{% url 'BorrarTarea' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" onclick="ConfirmarBorrar()" name="btn-delete-tareas" value="{{ tareas.id }}"><i class="material-icons button delete">delete</i></button>
                </form>
            </div>
        </div>
    </td>
</tr>
{% endfor %}
</tbody>
{% endblock %}
