{% extends "Base.html" %}	

	{% block content %}
	<!-- Cuerpo central de la pagina -->

	<div id = "content-Ppricipal">

		<!-- Lado izquierdo de la página, muestra noticias sobre la empresa -->
		<aside id="lado-izquierda">

			<h2><b><u>CLIENTES</u></b></h2>

			<hr>

			<!-- Noticia -->
		
		</aside>

		<!-- Lado derecho de la página central. Muestra en una tabla los proyectos en curso -->
		<section id="lado-derecha">

			<h2><b><u>HISTORICO DE PROYECTOS</u></b></h2>

			<br>

			<!-- Tabla. Se encuentra dentro de div para poder insertar una scrollbar -->
			<div id="tabla"> 
				<table border="1">
					<!-- Cabecera de la tabla -->
					<thead>
						<tr>
							<td><b>NOMBRE</b></td>
							<td><b>FECHA DE INICIO</b></td>
							<td><b>FECHA DE FIN</b></td>
							<td><b>ESTADO</b></td>
							<td><b>ENLACE</b></td>
						</tr>
					</thead>

					<!-- A partir de aqui se encuentran los datos de la tabla -->
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td><a href="">enlace al proyecto</a></td>
					</tr>

					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td><a href="">enlace al proyecto</a></td>
					</tr>

					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td><a href="">enlace al proyecto</a></td>
					</tr>

					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td><a href="">enlace al proyecto</a></td>
					</tr>

					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td><a href="">enlace al proyecto</a></td>
					</tr>	

					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td><a href="">enlace al proyecto</a></td>
					</tr>

					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td><a href="">enlace al proyecto</a></td>
					</tr>

					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td><a href="">enlace al proyecto</a></td>
					</tr>

					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td><a href="">enlace al proyecto</a></td>
					</tr>

					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td><a href="">enlace al proyecto</a></td>
					</tr>

					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td><a href="">enlace al proyecto</a></td>
					</tr>

					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td><a href="">enlace al proyecto</a></td>
					</tr>

					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td><a href="">enlace al proyecto</a></td>
					</tr>

					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td><a href="">enlace al proyecto</a></td>
					</tr>

					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td><a href="">enlace al proyecto</a></td>
					</tr>
				
				</table>
			</div>

		
		</section>
	</div>
	{% endblock %}
