/*--------------------
  ------- Index ------
  --------------------*/

@keyframes animacion {
  0% { transform: rotateY(360deg) rotateX(0deg); }
  100% { transform: rotateY(0deg) rotateX(360deg); }
}

body{
    margin: 0 auto;
    background-image: url("../Imagenes/fondoPP.jpg");
    background-size: cover;
    max-width: 100%;
}

header{
    margin-top: 15px;
    max-width: 100%;
    height: auto;
    padding: 20px;
    border-radius: 20px;
}

.Logo{
    display: inline-block;
}

.Img_Logo{
    height: 75px;
    width: 400px;
    animation: animacion 10s infinite;
}

.Acceso{
    margin-left: 640px;
    display: inline-block;
}

.Entrar, .Registrar{
    float: left;
    margin: 20px;
}

.main{
    margin-left: 15px;
    margin-right: 15px;
    background: linear-gradient(45deg, #4b4b8bbd, #4b5496bd );
    opacity: 0.9;
    max-width: 100%;
    height: 420px;
    padding: 20px;
    border-radius: 20px;
}
.Texto{
    float: left;
    margin-top: 15px;
}

.Texto h1, .Texto h2{
    text-align: center;
}

.Texto h1{
    font-family: 'Times New Roman';
    font-size: 45px;
    font-style: italic;
}

h2{
    font-size: 25px;
    font-style: italic;
}

.Texto p{
    text-align: justify;
    max-width: 577px;
}

.Foto{
    float: right;
    margin-left: 40px;
}

.Foto_Radio{
    border-radius: 20px;
}

/*--------------------
  ------ Entrar ------
  --------------------*/

.fieldset_Entrar{
    border-radius: 20px;
}

.form_Entrar{
  font-family:arial;
  width:465px;
  padding:15px;
  background-image:linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  border-radius: 20px;
/*  margin-top: 10px;
  margin-left: 30%;*/
}

.pop-up h1{
  color: black;
  text-align:center;
  font-family: 'Vibur', cursive;
  font-size: 50px;
  opacity: 0;
}

form .Usuario{
    position: relative;
    margin:10px 15px;
    /*opacity: 0;*/
}

form .Contraseña{
    position: relative;
    margin:10px 15px;
}

.Control{
    width:358px;
    height:50px;
    padding:5px 7px 5px 15px;
    background:#fff;
    border:2px solid #ddd;
    border-radius: 30px;
}

.Unido{
    margin-bottom: 10px;
}

.Entrar_Sesion{
    width: 375px;
    background: green;
    display:inline-block;
    font-size:16px;
    height:50px;
    color:#fff;
    text-decoration:none;
    border:none;
    border-radius:4px;
    
}

.Control_Email{
    width:358px;
    height:50px;
    padding:5px 7px 5px 15px;
    background:#fff;
    border:2px solid #ddd;
    border-radius: 30px;
    margin-left: 39px;
    text-align: center;
}

.Email_Sesion{
    width: 100%;
    background: green;
    display:inline-block;
    font-size:16px;
    height:61px;
    color:#fff;
    text-decoration:none;
    border:none;
    border-radius:4px;

}

.Resto{
    margin: 20px;
    display: inline-flex;
    flex-direction: column;
}

.link{
    text-decoration:none;
    color:#073ef5;
    float:right;
    font-size:12px;
    margin-bottom:15px;
}

.link:hover{
    text-decoration: underline;
    color:orange;
}

/*--------------------
  --- Registrarse ---
  --------------------*/

  .Alta_Usuario{
    font-family:arial;
    width:450px;
    padding:15px;
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    border-radius: 20px;
    margin-left: 30%;
}

.Titulo_Formulario h1{
    color: black;
    text-align:center;
    font-family: 'Vibur', cursive;
    font-size: 40px
  }

.fieldset_Registro{
    border-radius: 20px;
}

.Entrar_Usuario{
    width: 448px;
    background: green;
    display:inline-block;
    font-size:16px;
    height:50px;
    color:#fff;
    text-decoration:none;
    border:none;
    border-radius:4px;
}

.Registro_Personales, .Registro_Cuenta{
    margin: 10px;
}

label{
    margin-top: 5px;
}

.Nombre, .Apellido_1, .Apellido_2  {
    display: inline-block;
    width: 85px;
}

.Sexo{
    display: inline-block;
    margin-top: 10px;
    margin-left: 45px;
}

.Fecha_Nacimiento{
    display: inline-block;
    margin-top: 10px;
}

#Fecha_Nacimiento{
    margin-left: 10px;
}

.Departamento, .Categoria{
    display: inline-block;
    margin-top: 10px;
    width: 130px;
    margin-left: 10px;
}

.Registro_Cuenta label{
    display: inline-block;
    width: 150px;
}

.Registro_Personales input, .Registro_Cuenta input{
    border-radius: 10px;
}

legend{
    font-style: italic;
    margin-top: 10px;
}

.Acepto_Condiciones{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

/*POP UP*/

.overlay{
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    transition: .3s ease all;
}

.overlay.active{
    visibility: visible;
}

.btn-cerrar-popup{
    display: block;
    text-align: right;
    /*transition: .3s ease all;*/
}

.pop-up{
    opacity: 0;
    transition: .3s ease all;
    transform: scale(0.7);
}

.pop-up.active{
    opacity: 1;
    transform: scale(1);
}

.pop-up.active h1{
    animation: entradaTitulo .8s ease .5s forwards;
}

@keyframes entradaTitulo{
    from{
        transform: translateY(-25px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

/*POP UP EMAIL*/

.overlay-email{
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    transition: .3s ease all;
}

.overlay-email.active{
    visibility: visible;
}

.btn-cerrar-popup-email{
    display: block;
    text-align: right;
    /*transition: .3s ease all;*/
}

.pop-up-email{
    opacity: 0;
    transition: .3s ease all;
    transform: scale(0.7);
}

.pop-up-email.active{
    opacity: 1;
    transform: scale(1);
}
