/*Configuración de la página para pantallas grandes*/
@media only screen and (max-width: 2000px) and (min-width: 1200px){

	/*Estilos generales*/

	a:hover{
		background-color: orange;
	}

	body{
		width: 1200px;
		margin: 0 auto;
		background: url(../Imagenes/fondoPP.jpg) no-repeat center center fixed;
		background-size: cover;
		 -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
	}

	button{
		margin-top: 15px;
		margin-left: 40px;
		height: 35px;
	}

	label{
		margin-left: 10px;
	}

	select{
		height: 25px;
	}

	.pagina-principal{
		background-color: red;
		height: 29px;
	}

	





	/*Estilo para la cabecera*/

	header{
		margin-top: 20px;
		height: 105px;
		border: solid 2px white;
		border-radius: 13px;
	}


	h1{
		margin-top: 10px;
		margin-left: 10px;
		padding-left: 10px;
		margin: left;
		font-family: Brush Script MT;
		color: red;
		font-size: 70px;
	}









	/*Estilos para el cuerpo*/

	h2{
		text-align: center;
		font: arial;
		background-color: white;
	}

	nav{
		display: inline-block;
		background-color: black;
		width: 95%;
		height: 9%;
		margin-left: 15px;
		color: white;
	}

	table{
		width: 97.7%;	
		margin-left: 15px;

	}	

	thead{
		text-align: center;
	}

	#cuerpo{
		display: inline-block;
		width: 1200px;
		height: 500px;
		border: solid 1px black;
	}

	#lado-derecha{

		width: 850px;
		border: solid 1px black;
		height: 450px;
		float: right;	
		margin-top: 70px;
		background-color: #DED5D5;
		padding: 10px;
	}

	#lado-izquierda{ 
		float: left;
		margin-top: 70px;
		width: 20%;
		height: 450px;
		padding: 10px;
		border: solid 1px black;
		background-color: rgb(250, 149, 227, 0.3);
		overflow-y: scroll;
	}

	#tabla{
		overflow-y: scroll;
		height: 70%;
		width: 97%;
	}

	#lado-derecha button{
		margin-top: 0.5%;
		float: right;
		margin-right: 20px;
		width: 100px;
	}

	#lado-derecha input{
		margin-top: 1%;
	}

	#lado-derecha h2{
		margin-top: 20px;
		text-align: center;
		font: arial;
		color: black;
	}

	.noticia{
		margin: 10px 5px 10px 5px;
		padding: 10px;
		height: 250px;
		border: solid 1px black;
		background-color: white;

	}

	.noticia div{
		display: inline-block;
	}

	.noticia h3{
		text-align: center;
		background-color: #C9C7C7;
		padding: 10px;
	}

	.noticia img{
		max-width: 89px;
		max-height: 90px;
		float: right;
		margin-top: 20px;
		margin-left: 2px;
	}

	.noticia p{
		float: left;
		text-align: justify;
		max-width: 70%
	}








	/*Estilos para el pie de página*/

	footer{
		background-color: #000;
		width: 1200px;
		height: 150px;
		border-radius: 13px;
		position: fixed;
		bottom: 0;
		margin-bottom: 20px;
	}








	/*Estilos para el cuerpo del formulario*/

	section#formulario{
		margin-top: 80px;
		width: 1200px;
		height: 500px;
		background-color: rgba(0, 0, 0, 0.5);
		/*padding: 20px;*/
	}

	#formulario h2{
		font-size: 30px;
		width: 80%;
		margin: 0 auto;
	}

	#formulario hr{
		height: 7px;
		background-color:  white;
		max-width: 85%;
		margin: 0 auto;
	}

	#formulario img{
		float: left;
		max-width: 150px;
		max-height: 150px;
		margin-left: 100px;
	}

	#formulario input{
		height: 25px;
	}

	#formulario label{
		font-size: 24px;
		color: white;
	}

	#puesto{
		margin-left: 100px;
	}

	#botones-form{
		margin-left: 300px;
	}

	.primeros-datos{
		display: inline-block;
		width: 80%;
		margin-left: 123px;
	}

	.primeros-datos div{
		float: right;
		padding: 30px;
		margin-right: 150px;
	}

	.segundos-datos{
		width: 80%;
		margin: 0 auto;
		margin-top: 20px;

	}






	/*Estilos para página de información*/

	h4{
		margin-top: 20px;
		margin-left: 20px;
		margin-right: 20px;
		border-bottom: dotted 1px black;
		font-weight: bold;
	}

	section#infor{
		margin-top: 80px;
		width: 1200px;
		height: 500px;
		background-color: rgba(0, 0, 0, 0.5);
		overflow-y: scroll;
	}

	#infor div{
		background-color: white;
	}

	.amplio{
		width: 80%;
		max-height: 100%;
		margin: 0 auto;
		
	}

	.amplio h3{
		padding-top: 20px;
		margin-left: 20px;
		margin-right: 20px;
		border-bottom: solid 1px black; 
	}

	.amplio p{
		text-align: justify;
		margin-left: 20px;
		margin-right: 20px;
		margin-bottom: 10px;

	}

	.corto{
		width: 200px;
		height: 40px;
		background-color: white;
		margin-left: 120px;
	}

	.corto h3{
		padding-top: 10px;
		margin-left: 20px;
		margin-right: 20px;
		border-bottom: solid 1px black;
	}

	.estrecho-der{
		margin-top: 20px;
		margin-right: 150px;
		margin-bottom: 10px;	
		width: 400px;
		height: 380px;
		background-color: white;
		float: right;
	}

	.estrecho-der p{
		margin: 20px 20px 10px 20px;
		text-align: justify;
	}

	.estrecho-izq{
		margin-top: 20px;
		margin-left: 150px;
		margin-bottom: 10px;	
		width: 400px;
		height: 380px;
		background-color: white;
		float: left;
	}

	.estrecho-izq p{
		margin: 20px 20px 10px 20px;
		text-align: justify;
	}

	.indice{
		background-color: white;
		width: 40%;
		height: 220px;
		margin-left: 120px;
		padding-left: 20px;

	}

	.indice h3{
		padding-top: 20px;
		margin-left: 20px;
	}

	.tprincipal{
		width: 80%;
		height: 30px;
		margin: 0 auto;
	}




}

/*Como futuras actualizaciones, adpatarla a pantallas más pequeñas*/
@media only screen and (max-width: 1200px) and (min-width: 640px){
	body{
		max-width: 1200px;
		background: orange;

	}
}
