/*--------------------
  ------- Index ------
  --------------------*/

body{
    margin: 0 auto;
    background-image: url("../Imagenes/fondoPP.jpg");
    max-width: 100%;
}

header{
    margin-top: 15px;
    max-width: 100%;
    height: auto;
    padding: 20px;
    border-radius: 20px;
}

.Logo{
    display: inline-block;
}

.Img_Logo{
    height: 75px;
    width: 400px;
}

.Acceso{
    margin-left: 640px;
    display: inline-block;
}

.Entrar, .Registrar{
    float: left;
    margin: 20px;
}

.main{
    margin-left: 15px;
    margin-right: 15px;
    background: linear-gradient(45deg, #4b4b8bbd, #4b5496bd );
    opacity: 0.9;
    max-width: 100%;
    height: 420px;
    padding: 20px;
    border-radius: 20px;
}
.Texto{
    float: left;
    margin-top: 15px;
}

.Texto h1, .Texto h2{
    text-align: center;
}

.Texto h1{
    font-family: 'Times New Roman';
    font-size: 45px;
    font-style: italic;
}

h2{
    font-size: 25px;
    font-style: italic;
}

.Texto p{
    text-align: justify;
    max-width: 577px;
}

.Foto{
    float: right;
    margin-left: 40px;
}

.Foto_Radio{
    border-radius: 20px;
}

/*--------------------
  ------ Entrar ------
  --------------------*/

.fieldset_Entrar{
    border-radius: 20px;
}

.form_Entrar{
  font-family:arial;
  width:450px;
  padding:15px;
  background:#eee;
  border-radius: 20px;
  margin-top: 10px;
  margin-left: 30%;
}

.Titulo_mas_Logo h1{
  color:#999999;
  text-align:center;
  font-family: 'Vibur', cursive;
  font-size: 50px
}

form .Usuario{
    position: relative;
    margin:10px 15px;
}

form .Contraseña{
    position: relative;
    margin:10px 15px;
}

.Control{
    width:358px;
    height:50px;
    padding:5px 7px 5px 15px;
    background:#fff;
    border:2px solid #ddd;
    border-radius: 30px;
}

.Unido{
    margin-bottom: 10px;
}

.Entrar_Sesion{
    width: 375px;
    background:#0AC986;
    display:inline-block;
    font-size:16px;
    height:50px;
    color:#fff;
    text-decoration:none;
    border:none;
    border-radius:4px;
}

.Resto{
    margin: 20px;
    display: inline-flex;
    flex-direction: column;
}

.link{
    text-decoration:none;
    color:#073ef5;
    float:right;
    font-size:12px;
    margin-bottom:15px;
}

.link:hover{
    text-decoration: underline;
    color:orange;
}

/*--------------------
  --- Registrarse ---
  --------------------*/

.Alta_Usuario{
    font-family:arial;
    width:450px;
    padding:15px;
    background:#eee;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 30%;
}

.Titulo_Formulario h1{
    color:#999999;
    text-align:center;
    font-family: 'Vibur', cursive;
    font-size: 40px
  }

.fieldset_Registro{
    border-radius: 20px;
}

.Entrar_Usuario{
    width: 448px;
    background:#0AC986;
    display:inline-block;
    font-size:16px;
    height:50px;
    color:#fff;
    text-decoration:none;
    border:none;
    border-radius:4px;
}

.Registro_Personales, .Registro_Cuenta{
    margin: 10px;
}

label{
    margin-top: 5px;
}

.Registro_Personales label{
    display: inline-block;
    width: 80px;
}

.Registro_Cuenta label{
    display: inline-block;
    width: 150px;
}

.Registro_Personales input, .Registro_Cuenta input{
    border-radius: 10px;
}

legend{
    font-style: italic;
    margin-top: 10px;
}

.Acepto_Condiciones{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

